.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  /* ------ COLORS -------- */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-title: #212121;
  --color-text: #757575;
  --color-blue: #2196f3;
  --color-f-address: rgba(255, 255, 255, 0.6);
  --color-back-hf: #2f303a;
  --color-features: #e5e5e5;
  --color-bg-filter: #f5f4fa;
  /*------ TEXT -------*/
  --main-font: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  /*----- CARD --------*/
  --card-count-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;
  /*------ ANIMATION ------*/
  --slow: 500ms;
  --fast: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container.menu {
  max-width: 768px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.title-section {
  color: var(--color-title);
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.logo--accent {
  color: var(--color-blue);
}

.button__hero {
  display: inherit;
  padding: 10px 32px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__hero:focus {
  border: 1px solid;
  border-color: var(--color-black);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-address {
  position: relative;
}

.logo--in-mobile {
  display: inline-block;
  color: var(--color-title);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 99px;
}

@media screen and (max-width: 1199px) {
  .logo--in-mobile {
    margin-right: 88px;
  }
}

@media screen and (max-width: 420px) {
  .logo--in-mobile {
    margin-right: auto;
  }
}

.button__nav {
  position: fixed;
  z-index: 100;
  top: 34px;
  left: 91%;
  padding: 0;
  background-color: transparent;
  fill: var(--color-black);
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.button__nav:hover, .button__nav:focus {
  fill: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .button__nav {
    display: none;
  }
}

.icon-close {
  display: none;
}

.button__nav.is-open .icon-close {
  display: block;
}

.button__nav.is-open .icon-open {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

.button__nav.is-open .page-header {
  position: relative;
  top: 0;
  left: 0;
}

.button__nav.is-open {
  position: fixed;
  top: 34px;
  right: 0;
}

.menu-tablet-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-tablet-desktop {
    display: flex;
    justify-content: space-between;
    width: 532px;
  }
}

@media screen and (min-width: 768px) {
  .menu-tablet-desktop {
    width: 930px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav,
  .address {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1199px) {
  .address {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-title);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .link.active::after {
    position: absolute;
    bottom: -2%;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    background-color: var(--color-blue);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .address__mail-tell {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--color-text);
    transition: color var(--slow) var(--cubic);
  }
}

.address .address__mail-tell:hover,
.address .address__mail-tell:focus {
  color: var(--color-blue);
}

.icon-mail-tell {
  margin-right: 10px;
  fill: var(--color-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail-tell:hover .icon-mail-tell,
.address__mail-tell:focus .icon-mail-tell {
  fill: var(--color-blue);
}

@media screen and (min-width: 1199px) {
  .address__item:not(:last-child) {
    margin-right: 30px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

a.link.active {
  position: relative;
  color: var(--color-blue);
}

.menu {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu-mobile {
  padding: 40px 48px;
  list-style: none;
}

.menu.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu.is-open {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .site-nav {
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 768px) {
  .site-nav .link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .site-nav .link {
    color: var(--color-title);
    transition: color var(--fast) var(--cubic);
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--color-blue);
}

.site-nav__item a {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.address__item .link {
  text-decoration: none;
  font-weight: 500;
}

.address__tell {
  display: block;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-blue);
  margin-bottom: 34px;
}

.address__mail {
  display: block;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 64px;
}

.social {
  --gap-left: 8px;
  --gap-top: 8px;
  --card-count-item: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  list-style: none;
}

.social .social__item {
  display: block;
  text-decoration: none;
  color: var(--color-blue);
  margin-left: var(--gap-left);
  margin-top: var(--gap-top);
  flex-basis: calc( (100% - var(--gap-left) * var(--card-count-item)) / var (--card-count-item));
}

.social li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img_mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img@2x_mobile.jpg");
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img_tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img@2x_tablet.jpg");
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img_desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/header_img@2x_desktop.jpg");
  }
}

.section.hero {
  padding-bottom: 118px;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .section.hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.title__hero {
  max-width: 360px;
  margin: 0 auto 30px;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .title__hero {
    max-width: 640px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
}

.features__item {
  margin-left: var(--gap-left);
  margin-top: var(--gap-top);
  flex-basis: calc( (100% - var(--gap-left) * var(--card-count-item)) / var(--card-count-item));
}

@media screen and (min-width: 767px) {
  .features__item {
    --card-count-item: 2;
  }
}

@media screen and (min-width: 1199px) {
  .features__item {
    --card-count-item: 4;
  }
}

.features__icon {
  display: flex;
  height: 120px;
  background-color: var(--color-bg-filter);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features__title {
  color: var(--color-title);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .features__title {
    text-align: left;
  }
}

.features__discription {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.ocupation {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .ocupation {
    display: none;
  }
}

.ocupation__card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.ocupation__item {
  display: flex;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.ocupation__meta {
  position: absolute;
  width: 100%;
  padding: 27px;
  margin-bottom: 0;
  bottom: 0;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.14px;
}

.teams {
  background-color: var(--color-bg-filter);
}

.teams__card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
}

.teams__item {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: var(--gap-left);
  margin-top: var(--gap-top);
  flex-basis: calc( (100% - var(--gap-left) * var(--card-count-item)) / var(--card-count-item));
}

@media screen and (min-width: 767px) {
  .teams__item {
    --card-count-item: 2;
  }
}

@media screen and (min-width: 1199px) {
  .teams__item {
    --card-count-item: 4;
  }
}

.teams__item--padding {
  padding: 30px 122px;
}

@media screen and (min-width: 767px) {
  .teams__item--padding {
    padding: 30px 74px;
  }
}

@media screen and (min-width: 1199px) {
  .teams__item--padding {
    padding: 30px;
  }
}

.teams__name {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.teams__discription {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.teams__link--color {
  background-color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teams__link--color:hover, .teams__link--color:focus {
  background-color: var(--color-blue);
}

.teams__icon--color {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .teams__icon--color,
.social-list__link:focus .teams__icon--color {
  fill: var(--color-white);
}

.clients-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
}

.clients__item {
  --card-count-item: 2;
  margin-left: var(--gap-left);
  margin-top: var(--gap-top);
  flex-basis: calc( (100% - var(--gap-left) * var(--card-count-item)) / var(--card-count-item));
}

@media screen and (min-width: 767px) {
  .clients__item {
    --card-count-item: 3;
  }
}

@media screen and (min-width: 1199px) {
  .clients__item {
    --card-count-item: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 5px;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--color-blue);
}

@media screen and (min-width: 767px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1199px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--color-blue);
  border-color: var(--color-blue);
}

.footer {
  background-color: var(--color-back-hf);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer__address:hover, .footer__address:focus {
  color: var(--color-blue);
}

.footer__address p {
  color: var(--color-white);
}

.footer__address a {
  display: block;
  margin-top: 9px;
  color: var(--color-f-address);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address a:hover, .footer__address a:focus {
  color: var(--color-blue);
}

.footer--collect {
  display: flex;
}

.logo-address--right {
  margin-right: 70px;
}

.footer-social--action {
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-social .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--color:hover, .footer__link--color:focus {
  background-color: var(--color-blue);
}

.footer__icon--color {
  fill: var(--color-white);
}

.subscription-form {
  display: flex;
}

.footer-subscription {
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */