/*Цвет текста  для Студио #000000 */
/*Цвет текста  для заголовков #212121 */
/*Цвет текста  для хиро и футера #FFFFFF*/
/*Цвет текста  основной #757575 */
/*Цвет текста  акцент #2196F3 */
/*Цвет текста  акцент контент #188CE8 */
/*Цвет текста  адрес футера rgba(255, 255, 255, 0.6) */
/*Цвет для фона Особенности и чем мы занимаемся  #E5E5E5 */
/*Цвет для фона для хиро #2F303A */
/*Цвет для фона для шапки #FFFFFF */
/*Цвет для фона наша команда #FFFFFF */
/*Цвет для фона для футера #2F303A */
/*Цвет для фона вторая страница #E5E5E5 */
/*Цвет для фона для кнопок стр #F5F4FA */
/*Шрифт основной Roboto 400, 500, 700, 900 */
/*Шрифт основной Raleway 700 */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-title: #212121;
  --color-text: #757575;
  --color-blue: #2196f3;
  --color-f-address: rgba(255, 255, 255, 0.6);
  --color-back-hf: #2f303a;
  --color-features: #e5e5e5;
  --color-bg-filter: #f5f4fa;
}
/*=============Components===============*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*=============End Components===============*/

/*=============HEADER=======================*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.site-nav,
.address {
  display: flex;
}

/*=============LOGO=======================*/

.site-nav .logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;

  color: var(--color-black);

  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .logo > span {
  color: var(--color-blue);
}

/*============= END LOGO=================*/

/*============= NAVIGATION - ADDRESS=================*/

.nav-address {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-title);

  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-blue);
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.address-item:last-child {
  margin-left: 30px;
}


.link.active {
  color: var(--color-blue);
}
.address .site-address {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  align-items: center;
}

.address .site-address {
  text-align: center;
}

.address .site-address:hover,
.address .site-address:focus {
  color: var(--color-blue);
}

.icon-mail-tell {
  margin-right: 10px;
}

.site-address:hover .icon-mail-tell,
.site-address:focus .icon-mail-tell {
  fill: var(--color-blue);
}

/*=============END NAVIGATION - ADDRESS=================*/

/*============= HERO =================*/

.section.hero {
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero/bg-img.jpg");
  background-size: cover;
}

.section .title-hero {
  width: 640px;
  margin: 0 auto 30px;

  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/*============= HERO-BUTTON =================*/

button.button-hero {
  display: inherit;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0 auto;

  color: var(--color-white);

  background-color: var(--color-blue);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero button:hover,
.hero button:focus {
  border: 1px solid var(--color-black);
  cursor: pointer;
  font-family: inherit;
}

/*=============END HERO-BUTTON =================*/

/*=============END HERO=================*/

/*=============PORTFOLIO-FILTER=================*/

.filter-button-card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-card-item:not(:last-child) {
  margin-right: 8px;
}

button.button-filter {
  padding: 6px 22px;
  border-radius: 5px;
  border: none;

  color: var(--color-title);

  background-color: var(--color-bg-filter);

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

button.button-filter:active {
  color: var(--color-white);
  background-color: var(--color-blue);
}

button.button-filter:hover,
button.button-filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter h3 {
  color: var(--color-title);
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}

.filter p {
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

/*============= END PORTFOLIO-FILTER=================*/

/*============= FEATURES ==================*/

.non-padding {
  padding-top: 0;
}

.features-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-item-icon {
  display: flex;
  height: 120px;
  background-color: var(--color-bg-filter);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features h3 {
  color: var(--color-title);
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

/*============= END FEATURES ==================*/

/*============= OCUPATION ==================*/

.ocupation-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.ocupation-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/*============= END OCUPATION ==================*/

/*============= TEAMS ==================*/

.teams {
  background-color: var(--color-bg-filter);
}

.teams-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.teams-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-item-name {
  padding: 30px;
}

.section h2 {
  color: var(--color-title);
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  margin-bottom: 50px;
}
.section h3 {
  margin-bottom: 10px;
}

.features-item .section-title {
  text-transform: uppercase;
}

.teams h3 {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.teams p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-blue);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--color-white);
}

/*============= END TEAMS ==================*/

/*============= EXAMPLES ==================*/
.examples-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
a.examles-link-item {
  text-decoration: none;
}

a h3.section-title {
  margin-bottom: 4px;
  color:var(--color-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

a.examles-link-item p {

  color:var(--color-text);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  }


.examples-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 270px) / 9);
}

.examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*
a.examles-link-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

a.examles-link-item:hover,
a.examles-link-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
*/
/*============= END EXAMPLES ==================*/

/*============= CLIENTS ==================*/

.clients-card {
  display: flex;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
}
.clients-social-list-icon {
  fill: #afb1b8;
}

.clients-list-link:hover .clients-social-list-icon,
.clients-list-link:focus .clients-social-list-icon {
  fill: var(--color-blue);
  border-color: var(--color-blue);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--color-blue);
}

/*============= END CLIENTS ==================*/

/*============= FOOTER ==================*/

.footer {
  background-color: var(--color-back-hf);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contenet {
  display: flex;
}

.footer-logo-address {
  margin-right: 70px;
}

.footer-social h2 {
  padding-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-social .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--color-blue);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

.footer-social-list-link:hover .social-list-icon,
.footer-social-list-link:focus .social-list-icon {
  fill: var(--color-white);
}
/*============= FOOTER - LOGO ==================*/

.footer .footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--color-white);

  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer .footer-logo > span {
  color: var(--color-blue);
}

/*============= END FOOTER - LOGO ==================*/

/*============= FOOTER - ADDRESS ==================*/

.footer-address > p {
  color: var(--color-white);
}
.footer-address > a {
  color: var(--color-f-address);
  text-decoration: none;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address a {
  display: block;
  margin-top: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-address > a:hover,
.footer-address > a:focus {
  color: var(--color-blue);
}
/*=============END FOOTER - ADDRESS ==================*/

/*=============END FOOTER ==================*/
