.logo {
  @include font(26px, 1.2, 0.03em);
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.logo--accent {
  color: var(--color-blue);
}
