.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 95vw;
  max-width: 450px;
  height: 97vh;
  max-height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;

  overflow: auto;

  transform: translate(-50%, -50%);

  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    max-width: 528px;
    max-height: 580px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__btn-icon {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 18px;
  height: 18px;
  fill: var(--color-black);
  transform: translate(-50%, -50%);

  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-btn:hover &,
  .modal__close-btn:active &,
  .modal__close-btn:focus & {
    fill: var(--color-blue);
  }
}

.is-hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -10;
}
