.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.modal-form__input--wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form__input {
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--color-blue);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--color-title);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:hover + & {
    fill: var(--color-blue);
  }
}

.modal-form__message {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--color-blue);
  }
}

.modal-form__checkbox-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

.modal-form__checkbox-link {
  color: var(--color-blue);
}

.modal-form__checkbox-desc::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--color-title);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;

  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;

  .modal-form__check:checked + &::before {
    background-image: url(../../img/icon/icon-check.svg);
    border: none;
  }
  .modal-form__check:focus + &::before {
    outline: 1px solid var(--color-blue);
    outline-offset: 1px;
  }
}

.modal-form__btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 56px;

  color: var(--color-white);
  background-color: var(--color-blue);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
