.filter__card {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 50px;
  height: 136px;

  @media screen and (min-width: 388px) {
    height: 91px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    height: 38px;
  }
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.button__name {
  padding: 6px 22px;
  border-radius: 5px;
  border: none;

  color: var(--color-title);
  background-color: var(--color-bg-filter);
  box-shadow: none;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
