body {
    background-color: var(--color-white);
    color: var(--color-text);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    letter-spacing: 0.03em;
  }