.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1199px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.title-section {
  color: var(--color-title);
  text-align: center;
  @include font(28px, 1.17, 0.03em);
  margin-bottom: 30px;

  @media screen and (min-width: 1199px) {
    @include font(36px, 0.85, 0.03em);
    margin-bottom: 50px;
  }
}
