.clients-card {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 5px;

  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--color-blue);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--color-blue);
    border-color: var(--color-blue);
  }
}
