.footer {
  background-color: var(--color-back-hf);
  padding-top: 60px;
  padding-bottom: 60px;

  .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--color-white);
  }
}

.footer__address {
  font-style: normal;
  @include font(14px, 1.71, 0.03em);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  p {
    color: var(--color-white);
  }
  a {
    display: block;
    margin-top: 9px;

    color: var(--color-f-address);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--color-blue);
    }
  }
}

.footer--collect {
  display: flex;

  @media screen and (max-width: 767.98px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.logo-address--position {
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1199px) {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-social--action {
  padding-top: 12px;
  margin-bottom: 20px;
  text-align: center;
  @include font(14px, 1.14, 0.03em);
  font-weight: 700;

  text-transform: uppercase;
  color: var(--color-white);

  @media screen and (min-width: 1199px) {
    text-align: left;
  }
}

.footer-social .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link--color {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-blue);
  }
}

.footer__icon--color {
  fill: var(--color-white);
}

.subscription-form {
  display: flex;
  width: 100%;

  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-subscription {
  @media screen and (max-width: 1199px) {
    width: 100%;
  }

  @media screen and (min-width: 1199px) {
    margin-left: auto;
  }
}

.subscription-form__field {
  display: block;

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
    width: 100%;
  }
}
