.menu {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &-mobile {
    padding: 40px 28px;
    list-style: none;
    @media screen and (min-width: 320px) {
      padding: 40px 48px;
    }
  }
  &.is-open {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.site-nav {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30%;
  }

  .link {
    @media screen and (max-width: 767.98px) {
      @include font(40px, 1.17, 0.02em);
      font-weight: 500;
      text-decoration: none;
    }
    @media screen and (max-width: 767.98px) {
      color: var(--color-title);
      transition: color var(--fast) var(--cubic);
    }
    &:hover,
    &:focus {
      color: var(--color-blue);
    }
  }
}

.site-nav__item {
  a {
    display: inline-block;
  }
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.address__item .link {
  text-decoration: none;
  font-weight: 500;
}

.address__tell {
  display: block;
  @include font(34px, 1.17, 0.02em);

  color: var(--color-blue);
  margin-bottom: 34px;
}

.address__mail {
  display: block;
  @include font(24px, 1.16, 0.02em);

  color: var(--color-title);

  margin-bottom: 64px;
}

.social {
  --gap-left: 8px;
  --gap-top: 8px;
  --card-count-item: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
  @include font(18px, 1.22, 0.02em);

  list-style: none;

  .social__item {
    display: block;
    text-decoration: none;
    color: var(--color-blue);
    margin-left: var(--gap-left);
    margin-top: var(--gap-top);
    flex-basis: calc(
      (100% - var(--gap-left) * var(--card-count-item)) / var
        (--card-count-item)
    );
  }
  li {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
