.teams {
  background-color: var(--color-bg-filter);
}

.teams__card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap-left) * -1);
  margin-top: calc(var(--gap-top) * -1);
}

.teams__item {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-left: var(--gap-left);
  margin-top: var(--gap-top);
  flex-basis: calc(
    (100% - var(--gap-left) * var(--card-count-item)) / var(--card-count-item)
  );
  @media screen and (min-width: 767px) {
    --card-count-item: 2;
  }
  @media screen and (min-width: 1199px) {
    --card-count-item: 4;
  }
}

.teams__item--padding {
  padding: 30px 122px;

  @media screen and (min-width: 767px) {
    padding: 30px 74px;
  }
  @media screen and (min-width: 1199px) {
    padding: 30px;
  }
}

.teams__name {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.teams__discription {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.teams__link--color {
  background-color: var(--color-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-blue);
  }
}

.teams__icon--color {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--color-white);
  }
}
