:root {
  /* ------ COLORS -------- */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-title: #212121;
  --color-text: #757575;
  --color-blue: #2196f3;
  --color-f-address: rgba(255, 255, 255, 0.6);
  --color-back-hf: #2f303a;
  --color-features: #e5e5e5;
  --color-bg-filter: #f5f4fa;

  /*------ TEXT -------*/
  --main-font: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  /*----- CARD --------*/
  --card-count-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  /*------ ANIMATION ------*/
  --slow: 500ms;
  --fast: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
