.features__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features__icon {
  display: flex;
  height: 120px;
  background-color: var(--color-bg-filter);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features__title {
  color: var(--color-title);
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__discription {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
